{% render 'partials/head.liquid' %}

<h1>detail</h1>

<a href="/">Back</a>


<section>
    <h2>{{ person.team }}</h2>

    <img src="oufwoi" alt="test">

    <a href="{{ person.website }}"><img src="" alt="">Website</a>

    <h3>{{ person.name }}</h3>


    <h3>comments</h3>
    <form method="post" action="/">
        <label>
            Naam:
            <input type="text" name="from" required>
        </label>
        <label>
            Bericht:
            <textarea name="text" required></textarea>
        </label>
        <button type="submit">Verstuur</button>
    </form>

</section>

{% for message in messages %}
    <p>{{ message.from }}: {{ message.text }} @{{ message.created | date: '%d-%m-%Y %H:%M' }}</p>
    {% else %}
    <p>Er zijn nog geen berichten voor dit team.</p>
    {% endfor %}

{% render 'partials/foot.liquid' %}