
{% render 'partials/head.liquid' %}

<a href="/" class="back-link">Terug</a>

<div class="notficatie">
    <p>Laat een jaarboek quote achter :) ! </p>
</div>

<section class="card">
    <h2 class="team-name">{{ person.team }}</h2>

    <div class="card-top">
        <img src="{{ person.avatar }}" alt="" class="profile-img">

        <div class="comments-box">
            <h2>Comments</h2>
            {% for message in messages %}
                <div class="comment">{{ message.from }}: {{ message.text }}</div>
            {% else %}
                <p class="no-messages">Er zijn nog geen berichten voor dit team.</p>
            {% endfor %}
        </div>
    </div>

    <h3 class="name-title">{{ person.name }}</h3> 

    <h3 class="place-comment">Jaarboek Quote</h3>
    <form method="post" action="/" class="form">
        <label class="form-label">
            Naam:
            <input type="text" name="from" required class="input-field">
        </label>
        <label class="form-label">
            Comment:
            <textarea name="text" required class="textarea-field"></textarea>
        </label>
        <button type="submit" class="submit-button">Verstuur</button>
    </form>
</section>

{% render 'partials/foot.liquid' %}



