{% render 'partials/head.liquid' %}

<h1>detail</h1>

<p>kefjiuegw</p>

<h2>{{ person.name }}</h2>

<section>
    <h2>{{ person.team }}</h2>

    <img src="oufwoi" alt="test">

    <a href=""></a>

    <h3>{{ person.name }}</h3>


    <h3>comments</h3>
    <form method="post" action="/">
        <label>
            Naam:
            <input type="text" name="from" required>
        </label>
        <label>
            Bericht:
            <textarea name="text" required></textarea>
        </label>
        <button type="submit">Verstuur</button>
    </form>

</section>

<section>
    {% for person in persons %}
        <h2><a href="/student/{{ person.id }}"> {{ person.name }}</a></h2>
      {% endfor %}
    
</section>


<h2>{{ person }}</h2>


{% for message in messages %}
    <p>{{ message.from }}: {{ message.text }} @{{ message.created | date: '%d-%m-%Y %H:%M' }}</p>
    {% else %}
    <p>Er zijn nog geen berichten voor dit team.</p>
    {% endfor %}





{% render 'partials/foot.liquid' %}