{% render 'partials/head.liquid' %}

<h1>Squadpage</h1>
<ul>
  {% for person in persons %}
    <li>  <p> Team: {{ person.team }}  </p> <a href="/detail/{{ person.id }}">  <img src="{{ person.avatar }}" alt=""> {{ person.name }} ❤️</a></li>
  {% endfor %}
</ul>




{{ person.team }}


<footer>
<h1>{{ teamName }}</h1>
</footer>


{% render 'partials/foot.liquid' %}