{% render 'partials/head.liquid' %}


<ul>
  {% for person in persons %}
    <li><a href="/student/{{ person.id }}"> {{ person.team }} <img src="{{ person.avatar }}" alt=""> {{ person.name }}</a></li>
  {% endfor %}
</ul>


{{ person.team }}



<h1>Zet 'm op team {{ teamName }}!</h1>



{% render 'partials/foot.liquid' %}